{% extends "index.twig" %}

{% block content %}
    <h2>Inhaltsverzeichnis</h2>

    <h3>Alle Rezepte</h3>
    <div class="row-fluid">
        <div class="span4">
            <ul>
            {%for group in range( 'a', 'i' ) %}
                {%if result.recipes[group] %}
                <li><h4>{{group}}</h4>
                    <ul>
                    {%for recipe in result.recipes[group] %}
                        <li><a href="/recipe/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
                    {%endfor%}
                    </ul>
                </li>
                {%endif%}
            {%endfor%}
            </ul>
        </div>
        <div class="span4">
            <ul>
            {%for group in range( 'j', 'q' ) %}
                {%if result.recipes[group] %}
                <li><h4>{{group}}</h4>
                    <ul>
                    {%for recipe in result.recipes[group] %}
                        <li><a href="/recipe/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
                    {%endfor%}
                    </ul>
                </li>
                {%endif%}
            {%endfor%}
            </ul>
        </div>
        <div class="span4">
            <ul>
            {%for group in range( 'r', 'z' ) %}
                {%if result.recipes[group] %}
                <li><h4>{{group}}</h4>
                    <ul>
                    {%for recipe in result.recipes[group] %}
                        <li><a href="/recipe/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
                    {%endfor%}
                    </ul>
                </li>
                {%endif%}
            {%endfor%}
            </ul>
        </div>
    </div>

{% endblock %}
