{% extends "index.twig" %}
{% set recipe = result.recipe %}

{% block commands %}
<ul class="commands">
    <li>
        <a href="/recipe/recipe/{{recipe}}">
            <i class="icon-arrow-left"></i> Zurück
        </a>
    </li>
</ul>
{%endblock %}

{% block content %}
<h2>Rezept exportieren</h2>

<ul class="exports">
    <li><a href="/recipe/export/{{recipe}}.pdf"><i class="icon-file"></i> Export as PDF</a></li>
    <li><a href="/recipe/export/{{recipe}}.html"><i class="icon-file"></i> Export as HTML</a></li>
    <li><a href="/recipe/export/{{recipe}}.odt"><i class="icon-file"></i> Export as OpenDocument</a></li>
    <li><a href="/recipe/export/{{recipe}}.txt"><i class="icon-file"></i> Export as ReStructured Text</a></li>
    <li><a href="/recipe/export/{{recipe}}.xml"><i class="icon-file"></i> Export as Docbook XML</a></li>
</ul>
{% endblock %}
