{% extends "index.twig" %}
{% set recipe = result.recipe %}

{% block commands %}
<ul class="commands">
    <li>
        <a href="/recipe/edit/{{recipe.id}}">
            <i class="icon-edit"></i> Bearbeiten
        </a>
    </li>
    <li>
        <a href="#upload" data-toggle="modal">
            <i class="icon-picture"></i> Bild anhängen
        </a>
    </li>
    <li>
        <a href="#history" data-toggle="modal">
            <i class="icon-time"></i> Historie
        </a>
    </li>
    <li>
        <a onclick="return confirm( 'Do you really want to delete this recipe?' );" href="/recipe/delete/{{recipe.id}}">
            <i class="icon-trash"></i> Löschen
        </a>
    </li>
    <li>
        <a href="/recipe/listExports/{{recipe.id}}">
            <i class="icon-file"></i> Exportieren
        </a>
    </li>
</ul>
{%endblock %}

{% block content %}
<h2>{{recipe.title}} <a class="edit" href="/recipe/edit/{{recipe.id}}">[Bearbeiten]</a></h2>

{% if recipe.attachments|length() %}
<ul class="images">
{% for image, data in recipe.attachments %}
    <li><a href="/recipe/recipe/{{recipe.id}}/{{image}}"><img src="/recipe/recipe/{{recipe.id}}/{{image}}" /></a></li>
{% endfor %}
</ul>
{% endif %}

<h4 class="subtitle">Für {{recipe.amount}} Personen</h4>

<p>{{recipe.description}}</p>

<h3>Zutaten</h3>

<ul class="ingredients">
{% for section, ingredients in recipe.ingredients %}
    <li><h4>{{section}}</h4>
        <table class="ingredients">
        {% for ingredient in ingredients %}
            <tr>
                <td class="amount">{{ingredient.amount}} {{ingredient.unit}}</td>
                <td><a href="/recipe/ingredient/{{ingredient.ingredient}}">{{ingredient.ingredient}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </li>
{% endfor %}
</ul>

<h3>Zubereitung</h3>

<dl>
    <dt>Vorbereitungszeit</dt>
    <dd>{{recipe.preparation}} Minuten</dd>
    <dt>Zubereitungszeit</dt>
    <dd>{{recipe.cooking}} Minuten</dd>
</dl>

{% if recipe.html %}
    {% autoescape false %}
    {{recipe.html}}
    {% endautoescape %}
{% else %}
    <p>{{recipe.instructions}}</p>
{% endif %}

<div class="modal" id="upload" style="display: none;">
    <form action="/recipe/attach/{{recipe.id}}" method="POST" enctype="multipart/form-data">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Bild hochladen</h3>
    </div>
    <div class="modal-body">
        <input type="file" name="image" />
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" name="attach" value="Hochladen" />
    </div>
    </form>
</div>

<div class="modal" id="history" style="display: none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Änderungen</h3>
    </div>
    <div class="modal-body">
        <ul class="changes">
        {% for revision in recipe.revisions if revision._date and revision.user %}
            {% set user = user( revision.user ) %}
            <li>{{user.login}} at {{revision._date|date( "d.m.Y" )}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Schliessen</a>
    </div>
</div>

{% endblock %}
